{{!< default}}

{{#post}}

  <article class="{{post_class}}">
    <header>
      <div class="post meta">
        <time datetime="{{date format="YYYY-MM-DD" timeago="true"}}" title="{{date format="YYYY-MM-DD" timeago="true"}}">{{date format="YYYY-MM-DD"}}发布.</time>
        <span class="post tags">{{tags prefix=" 标签: " separator=","}}</span>

        {{!-- <span class="post author">
        <img src="{{author.image}}" class="rounded" alt="profile image for {{author.name}}"/> by {{author.name}}
        </span> --}}

        <span class="post reading-time"> ~ <span></span> read.</span>
      </div>

      <a alt="新浪微博 '{{title}}'" rel="me"
        href="javascript:window.open('http://service.weibo.com/share/share.php?appkey=&title={{title}}——分享自简时空(www.jscon.cc)&url=http://www.jscon.cc{{url}}&pic={{image}}&searchPic=false&style=simple', '_blank', 'width=400,height=500');void(0);">
        {{#if image}}<img id="post-image" src={{image}} alt="{{{title}}}">{{/if}}
        <h1 class="icon-reverse icon-social-twitter-post" id="post-title">{{{title}}}</h1>
      </a>

    </header>

    <div id="post-content" class="{{post_class}}">
      {{content}}
    </div>

    <div class="post related">
      {{#prev_post}}
        <a rel="prev" id="prev-btn" class="btn small square" href="{{url}}">← {{title}}</a>
      {{/prev_post}}

      {{#next_post}}
        <a rel="next" id="next-btn" class="btn small square" href="{{url}}">{{title}} →</a>
      {{/next_post}}
    </div>
    <!--微博签名和评论框-->
    <a href="http://weibo.com/u/1363898634?s=6uyXnP" target="_blank"><img border="0" src="http://service.t.sina.com.cn/widget/qmd/1363898634/efbbeb27/4.png"/></a>
    {{> comments}}

  </article>

{{/post}}
